<!-- 
<div class="col-md-3 col-12 mb-4">
  <div class="hovereffect">
    <a href="<%- config.root %><%- item.path %>">
      <img class="img-fluid portfolio-img" src="<%- item.cover_image || theme.default_cover_image %>" alt="<%- item.title || theme.default_post_title || "Untitled" %>">
      <div class="overlay">
        <span class="overlay-text"><%- item.title || theme.default_post_title || "Untitled" %></span>
      </div>
    </a>
  </div>
</div> -->

<div class="card col-md-2 col-12 mb-4" >
  <img src="<%- item.cover_image || theme.default_cover_image %>" class="card-img-top" alt="...">
  <div class="card-body ">
    <h5 class="card-title"><%- item.title || theme.default_post_title || "Untitled" %></h5>
    <p class="card-text"><%- item.title || theme.default_post_title || "Untitled" %></p>
    <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
  </div>
</div>